    /* possible colors to be used
    #f39f5a; #1d1a39, #451952, #662549, #ae445a, #e8bcb9 */

* {
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #e6e5d9; /*Satin Linen color*/
}

body {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

header {
    display: flex;
    justify-content: space-between;
    color: #13b189;
    margin: 2% 1%;
}

header, h1 {
    background-color: #431381;
}

header ul li {
    background-color: #431381;
    justify-content: flex-end;
}

a {
    background-color: #431381;
    color: #13b189;
}

.container {
    display: flex;
}

aside {
    flex: 0 1 200px;
    justify-content: flex-start;
    background-color: rgb(91, 108, 205);
    padding: 10px;
    align-items: flex-start;
    text-align: center;
}

.aside-header {
    border: 3px solid black;
    color: #f39f5a;
    border-radius: 7%;
    justify-content: center;
}

aside p {
    background-color: rgb(91, 108, 205);
}

#how-to-contact {
    background-color: #06336e;
    color: #f39f5a;
}

ul.contact-section li a {
    background-color: #154c94;
}

aside.contact-section li {
    align-items: baseline;
}

.headshot {
    width: 150px;
    height: 130px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    background-color: #451952;
    
}

.card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 220px;
    flex: 0 1 200px;
    margin: 10px;
    border: 1px solid #dadada;
    border-style: solid;
    background-color: #154c94;
    transition: all ease-in-out;
    transition-duration: 0.5s;
}

.images {
    width: 200px;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 42%, 0 23%);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #451952;
}

.card-one-text {
    position: relative;
    top: -60px;
    margin-top: auto;
}

.card:hover {
    background-color: #1ba88a;
    border-color: #031425;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
}

.card:focus {
    outline: none;
    border-color: #5B6DCD;
}

.contact-section {
    flex-wrap: nowrap;
}

.contact-section li {
    background-color: #154c94;    
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #431381;
  color: #1ba88a;
}

@media screen and (max-width: 768px) {
    main {
      flex-direction: column;
      align-items: space-between;
    }

    aside {
        order: 2;
      }         
}

